@import './variables';

@function breakpoint-min($name, $breakpoints: $media) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

@mixin media-from($name, $breakpoints: $media) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin make-container-basics() {
    padding: var(--container-padding);

    @include media-from(md) {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    @include media-from(xl) {
        max-width: 1440px;
    }
}
