.not-found {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #000;

    display: grid;
    align-content: center;
    justify-items: center;
    gap: 1rem;

    > svg {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .3;
        filter: invert(1);
    }

    div {
        position: absolute;
        width: 100%;
        height: 100%;

        svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center bottom;
            overflow: hidden;
            fill: var(--black-10);
            
            path {
                filter: drop-shadow(0 5vh 0.75rem var(--link));
            }
        }

        ~ * {
            position: relative;
            color: var(--black-40)
        }
    }

    a {}

    span {
        font-size: 10vw;
    }

    p {
        text-align: center;
        margin: 0;
    }

}