@import '../../../../../styles/typography';
@import '../../../../../styles/mixins';

.add-article{
    --close-side: 2rem;
    --close-fill: var(--black-60);
    --modal-padding: 1rem;
    --modal-border-radius: 1rem;
    --modal-window-inset: 1rem;
    --modal-window-width: 100%;
    
    @include media-from(md) {
        --close-side: 5rem;
        --close-fill: var(--white);
        --modal-padding: 2.5rem 3.5rem;
        --modal-border-radius: 2rem;
        --modal-window-inset: calc( var(--close-side) + 1rem );
        --modal-window-width: 39.5rem;
    }

    @include media-from(xl) {
        --modal-window-width: 59.5rem;
    }

    position: fixed;
    inset: var(--modal-window-inset);
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__window {
        width: var(--modal-window-width);
        max-width: 100%;
        padding: var(--modal-padding);
        border-radius: var(--modal-border-radius);
        background: var(--bg);
        pointer-events: auto;
        position: relative;
        display: grid;
        grid-auto-flow: row;
        gap: 2rem;
    }

    &__header {
        @extend %h3;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;

        @include media-from(md) {
            @include h2();
        }
    }

    &__close {
        width: var(--close-side);
        height: var(--close-side);
        flex-basis: var(--close-side);
        border-radius: calc( var(--close-side) / 2 );
        background: var(--black-05);
        flex-shrink: 0;
        cursor: pointer;

        @include media-from(md) {
            position: absolute;
            top: 0;
            right: calc( -1 * var(--close-side) );
            background: transparent;
        }

        svg {
            width: 100%;
            height: 100%;
            fill: var(--close-fill);
        }
    }

    &__content {
        display: grid;
        gap: 1rem;
        grid-auto-flow: row;
        padding-bottom: 1rem;

        @include media-from(md) {
            gap: 1.5rem;
        }
    }

    &-result {
        display: grid;
        gap: 1rem;
        grid-auto-flow: row;

        @include media-from(md) {
            grid-template-columns: 210px 1fr;
            grid-template-rows: auto auto;
        }

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }

        div {
            @include text2();
        }

        button {
            grid-column: 1 / span 2;
        }
    }

    &__image {
        position: relative;
        justify-self: start;
        position: relative;

        img {
            width: 200px;
            aspect-ratio: 210/107;
            object-fit: cover;
            border-radius: 1rem;
        }

        button {
            background: var(--black-100);
            width: 2rem;
            height: 2rem;
            border: none;
            padding: .5rem;
            border-radius: 1rem;
            position: absolute;
            right: -.5rem;
            top: -.5rem;

            svg {
                width: 100%;
                height: 100%;
                fill: var(--white);
            }
        }
    }

    &__backdrop {
        position: fixed;
        inset: 0;
        background: rgba(var(--back-rgb), .4);
        pointer-events: auto;
    }

    .btn {
        background: transparent;
        border: 1px solid transparent;
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        @extend %text3;

        &-regular {
            border-style: dashed;
            border-color: var(--link);
            color: var(--link);
        }

        &-primary {
            background: var(--black-100);
            color: var(--white);
        }

        &[disabled] {
            background: var(--black-10);
            color: var(--black-60);
        }

        &:not([disabled]) {
            cursor: pointer;
        }
    }

    textarea {resize: none;}
    input, textarea, button {
        @extend %text3;
    }

    .btn-primary {
        @extend %text2;
    }

    autodoc-image-input button {
        width: 100%;
    }

    @at-root {

        input, textarea {
            padding: 1.5rem;
            background: var(--black-05);
            border: none;
            border-radius: 2rem;
        }
    
        textarea {
            resize: none;
        }
    }
}
